*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ol,ul{
    list-style: none;
}
a{
    display: block;
}
img{
    max-width: 100%;
}
body{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    overflow: scroll;
    font-family: 'Rubik', sans-serif;
}
.visually-hidden {
    position: absolute !important;
    height: 1px; width: 1px; 
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}
.container{
    width: 1140px;
    margin: 0 auto;
}
.header-top{
    background-color:  #F6F6F9;    
    padding: 40px 0 20px 0;

}
.header-top .container{
    display: flex;
    align-items: center;
}
.header-top-brand{
    text-decoration: none;
    color:  #295091;
    background-color: white;
    padding: 4px 8px ;
    border-radius: 7px;
}
.header-top-list{
    display: flex;
    margin-right: auto;

}
.header-top-item{
    display: flex;
    margin: 0 12px;
}
.header-top-symbol{
    padding: 0 5px;
    color:  #285193;
}
.header-top-button, .header-top-flag, .header-top-link{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    margin: 0 14px;
    
}
.header-top-flag-image{
    border-radius: 100%;
}
.header-top-button-text{
    margin-left: 5px;
    font-size: 15px;
    font-weight: 400px;
    
}
.header-top-link{
    background-image: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
    text-decoration: none;
    color: white;
}
.header-top-link:hover{
    text-decoration: underline;
}
.navbar {
    background-color:  #F6F6F9;    
    padding: 20px 0 30px 0;
}
.navbar-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px ;
    background-color: white;
    border-radius: 7px;
}
.navbar-link{
   text-decoration: none;
   color: #515151;
   font-size: 19px;
}
.navbar-link:hover{
    text-decoration: underline;
}
.widget{
    background-color:  #F6F6F9;   
    padding:0 0 27px 0 
    

}
.widget .container{
    border: 1px solid black 0.4;
}
.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.form{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.form-input, .select-file{
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #F1F1F1;
    border-radius: 5px;
    margin: 10px 0;
    border: 2px solid #285193;
    opacity: 0.3;
}
.form-textarea{
    resize: none;
    height: 300px;
}
.select-file{
    display: flex;
    align-items: center;
    width: 40%;
    
    
}
.form-label-password{
    display: flex;
    align-items: center;

}
.text-password{
    margin-left: 18px;
}
.frame-image{
    margin-left: 7px;
}
.form-password{
    width: 40%;
}
.form-link{
    display: block;
    padding: 15px 50px;
    width: 40%;
    color: white;
    background-color:  #295093;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    
}
.main{
margin-top: 15px;
}
.info-section{
    width: 40%;
    margin-top: 10px;
    box-shadow: -8px 8px 9px rgba(0,0,0,0.3);
    padding: 20px;
    display: flex;
    flex-direction: column;

}
    
.form-list{
    display: flex;
    flex-direction: column;

}
.form-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    color:  #888888;
    
}
.small-list{
    display: flex;
    align-items: center;
}
.button-form{
    display: flex;
    align-items: center;
    padding: 7px;
    background-color:  #295091;
    border:none;
    color: white;
    border-radius: 5px;
    
}
.image{
    margin-right: 15px;
}
.button-slog{
    margin-left: 7px;
}
.small-box{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.info-title{
    margin-left: auto;
    font-size: 27px;
    color:#295091;
    
}

.email-form{
    text-decoration: none;
    color:  #888888;
    
}
.small-item{
    padding: 5px;
}
.footer{
    background-color: #295093;
    margin-top: 40px;
    padding: 20px 0;
}
.header-bottom{
    display: flex;
    align-items: center;
    font-weight: 300;
}
.header-bottom-title{
    padding: 10px;
    background-color:  #133C82;
    color: white;
    border-radius: 8px;
    font-size: 17px;
    letter-spacing: 1px;
    margin-right: auto;
    
}
.header-bottom-text{
    color: white;
    font-size: 14px;
    margin-right: 15px;
}
.header-bottom-button{
    display: flex;
    padding: 10px ;
    background-color: white;
    border: none;
    align-items: center ;
    border-radius: 5px;

    
}
.header-bottom-text2{
    color:  #295093;
    font-weight: 700;
    margin-left: 5px;
    
}
.header-bottom-text2:hover{
    text-decoration: underline;
}
.footer-line{
    border: 2px solid  #133C82;
    margin-top: 20px;
}
.footer-list{
    display: flex;
    margin-top: 15px;
}
.footer-item{
    width: 33%;
}
.footer-item-slog{
    color: white;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
}
.footer-item1{

    width: 30%;
    margin-left: 16%;
}

.footer-small-link{
    color: white;
    text-decoration: none;
}
.footer-small-link:hover{
    text-decoration: underline;
}
.footer-small-item{
    margin: 19px 0;
}
.page-left-list{
    display: flex;
    align-items: center;
    margin: 15px 0;
}
.page-left-section{
    width: 70%;
}
.page-left-time{
    color:  #7688A4;
    
}
.page-left-bottom{
    text-decoration: none;
}




    
